/* header css */
.header-page{
    background-color: #0E132A;
    width: 100%;
    margin: 0;
}

.hd-body{
    max-width: 1300px; 
    margin: 0 auto; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{ 
    color: white;
    font-size: 3em;
    font-weight: 800;
    margin-right: 2.5em;
}

a{
    text-decoration: none;  
    color: inherit; 

}

.title:hover{
    color: white;
    cursor: pointer;
}

.hd-bd1{
    width: 35%;
}

.movies{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.movies:hover{
    color: white;
    cursor: pointer;
}


.hd-bd2{
    width: 40%;
    display: flex;
}

/* 검색 css */
.searchForm {
    width: 100%;
    position: relative;
}

#search {
    width: calc(95% - 40px); /* 버튼 너비를 고려하여 입력란 너비 조정 */
    padding: 10px;
    border-radius: 1em;
}

.search-icon {
    color: gray;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0;
    background-color: transparent;
    width: 40px; /* 버튼의 너비 지정 */
    height: 100%; /* 버튼의 높이를 입력란의 높이와 동일하게 설정 */
}


#person-icon{
    color: white;
    font-size: 35px;
}

/* footer css */
.footer-page{
    background-color: #0E132A;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}

.ft-body{
    max-width: 1200px; /* 푸터의 최대 너비 지정 */
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    flex-wrap: wrap; /* 요소가 차례대로 배치되고 너비가 부족할 경우 다음 줄로 이동. */
    justify-content: space-between; /* 요소 사이의 여백을 최대화하여 푸터 내부 공간을 채움. */
    align-items: center;
}


.foot-dec{
    display: flex;
    align-items: center;
}

.foot-title{
    margin: 4rem;
}

.foot-title h1{
    color: white;
    margin: 0;
}

.foot-decorate{
    width: 40px;
    margin-left: 2px;
}

.foot-detail{
    margin: 0 4rem;
}

.ft-body h2{
    font-size: 1em;
    color: white;
    margin: 1rem;
    font-size: 1.3rem;
}

.ft-body h3{
    font-size: 1em;
    color: white;
    margin: 0.7rem 1rem;
    font-weight: 400;
}

.foot-detail3{
    margin: 3rem;
}

.foot-btn{
    background-color: white;
    border-radius: 15px;
    
}

.foot-btn img{
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 조절 */
    max-height: 100%; /* 이미지의 최대 높이를 부모 요소에 맞게 조절 */
}