.menu-page{
    background-color: #0E132A;
    width: 50%;
    height: 100vh;
    margin: 0;
    justify-content: center;
    display: flex;
}

.menu-body{
    width: 100%;
    padding: 2rem;
    color: white;
}

.menu-out{
    width: 4.5rem;
    height: 4rem;
    text-align: center;
    border: 3px solid white;
    border-radius: 7px;
    background-color:white;
    color: black;
    font-size: 50px;
    float: right;
    margin-right: 1rem;
}

.menu-title{
    font-size: 3rem;
    margin-left: 3rem;
}


.menu-bd1{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.movies-items{
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
}

.items1{
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
}

.items2{
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
}

.items3{
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
}

.movies-item{
    padding-bottom: 4rem;
}

